<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.simplepass.simplepassnew">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Login">
        <mLoginActivity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </mLoginActivity>
        <mLoginActivity android:name=".register.RegisterActivity" />
        <mLoginActivity android:name=".resetPassword.ResetPasswordActivity" />
        <mLoginActivity android:name=".map.MainActivity"></mLoginActivity>
    </application>

</manifest>